@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.jumbotron{
    padding: 50px;
    font-family: sans;
    font-size: 50px;
    color: white;
    background-color: rgb(11, 5, 68);
}
#myBtn{
    float: right;
}
.main{
    background-color: white;
    padding: 80px 50px 50px 50px;
    margin: -70px 50px 70px 80px;  
}
.space{
    min-height: 20vh;
}
.space2{
    min-height: 38vh;
}
.social{
    padding-left: 50px;
    padding-bottom: 20px;
    margin-left: 30px;
}
.msg{
    font-size: 4vw;
}
.media{
    padding-bottom: 50px;
}
#more{
    float: right;
    padding-bottom: 5px;
}
small{
    font-weight: lighter;
    font-family: Arial, sans-serif;
}
.navbar{
    background-color:darkblue;
}
.border{ 
    float: right;
   margin-bottom: 70px; 
}
/* signup */
 .box{
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
    margin-top: 100px;
    margin-left: 500px;
    overflow: hidden;
    display: grid;
}
.header{
    background-color: darkblue;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.header h2{
    margin: 0;
    color: black;
}
.form{
    padding: 30px 40px;
}
.section{
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
}
.section label{
    display: inline-block;
    margin-bottom: 5px;
   
}
.section input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    padding: 10px;
    width: 100%;
}
.section.success input{
    border-color: #2ecc71;
}
.section.error input{
    border-color: #e74c3c;
}

.section i{
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}
.section.success i.fa-check-circle{
    color: #2ecc71;
    visibility:visible;
}
.section.error i.fa-exclamation-circle{
    color: #e74c3c;
    visibility:visible;
}
.section small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.section.error small{
    color: #e74c3c;
    visibility: visible;
}
.form button{
    background-color: darkblue;
    border: 2px solid darkcyan;
    border-radius: 5px;
    color: #fff;
    font-family: inherit;
    font-size: 16px;
    padding: 7px;
    width: 100%;
} */
/* login */
.container{
    background-color: #fff;
    border-radius: 5px;
    width: 400px;
}
.login-box{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;  
}
.login-box h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 13px 0;
    color: black;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 2px solid gray;
    color: black;
}
.textbox i{
    /* width: 10px; */
    float: left;
    
}
.textbox input{
    border: none;
    outline: none;
    background: none;
    color: black;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.bttn{
    width: 100%;
    /* background: none; */
    background-color: darkblue;
    border:  2px solid #0f75b9;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    margin: 12px 0;
    border-radius: 4px;
}
.bttn:hover{
    background-color: gray;
}